Cilj: Napraviti sustav za dijeljenje informacija baziranih na trenutnoj lokaciji

Moguca primjena: Dijeljenje trenutnog stanja u nocnim klubovima, dijeljenje trenutnih lokacija ZET kontrolora, dijeljenje informacija o pisanju bliceva na predavanjima, dijeljenje informacija o prometnim nesrecama i guzvama u prometu, dijeljenje informacija o pozicijama prometnih policajaca, dijeljenje informacija o zauzetosti sprava u teretani...

Zahtjevi: 
	Geolokacija
	Prikaz podataka na karti
	Rangiranje pouzdanosti korisnika (sustav za autentifikaciju)
	Vise kategorija informacija (varijabilni broj? Automatsko dodavanje kategorija? Administrator dodaje kategorije?)
	Perzistencija podataka
	Mobilno sucelje
	Web sucelje
	Desktop sucelje?

Use caseovi:
	Korisnik se moze registrirati. SSO?
	Korisnik moze dodati informaciju za svoju lokaciju (slika?)
	Korisnik moze pregledati trenutne informacije po kategorijama ili lokacijama
	Korisnik moze potvrditi ili opovrgnuti informacije na svojoj ili bliskoj lokaciji
	Administrator moze uredivati i brisati informacije
	Premium korisnik moze najaviti dogadaje
	Integracija sa drustvenim mrezama i shareanje

DODATI SVE STO SMATRATE POTREBNIM

--------------------------------------------------------------------------------------------------
v2. 20.12.2016.

	Korisnik se moze ulogirati sa kombinacijom usernamea i lozinke
	Korisnik moze na karti vidjeti lokacije svih informacija objavljenih u zadnjih X vremena
	Korisnik moze odabrati koje kategorije informacija zeli vidjeti
	Korisnik moze dodati informaciju
	Korisnik moze pogledati jednu informaciju sa svim komentarima na nju
	Korisnik moze dodati komentar na postojecu informaciju
	Korisnik moze obaviti upvote/downvote za informaciju ili komentar
	Korisnik moze sve gore navedene radnje obaviti putem web ili mobilnog sucelja

	Administrator moze dodati novog korisnika
	Administrator moze obrisati korisnika
	Administrator moze za korisnika promijeniti tip u regular ili premium
	Administrator moze dodati informaciju
	Administrator moze dodati informaciju unaprijed
	Administrator moze dodati komentar
	Administrator moze obrisati informaciju
	Administrator moze obrisati komentar
	Administrator moze sve navedene radnje obaviti putem Desktop sucelja

