
@{
    ViewBag.Title = "Search";
}
@**AIzaSyDS2vUZXxyTNyg4Kx_UlRimVwz0V_VLMaQ
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=[AIzaSyA9FJIM1WwOp-VlXT3bHlmRjEjwlEub3Sg]&sensor=false"></script>**@

@Styles.Render("~/Content/Map.css")

<h2>Search events</h2> <hr/>

<div class="row">
    <div class="col-xs-6 col-xs-push-3">
        <div id="map"></div>
    </div>
</div>

<div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6 thumbnail" style="text-align: center">
        Choose a place on the map to get current impressions about that location.
    </div>
    <div class="col-xs-3"></div>
</div>

<h3>Impressions</h3> <hr />
<div class="row thumbnail">
    <div class="col-xs-1">
        <b>User</b>
    </div>
    <div class="col-xs-10">
        Impression
    </div>
    <div class="col-xs-1">
        @Html.ActionLink("Details", "ImpressionDetails", routeValues: new { }, htmlAttributes: new { @class = "btn btn-primary" })
    </div>
</div>

<div class="row thumbnail">
    <div class="col-xs-1">
        <b>User</b>
    </div>
    <div class="col-xs-10">
        Impression
    </div>
    <div class="col-xs-1">
        @Html.ActionLink("Details", "ImpressionDetails", routeValues: new { }, htmlAttributes: new { @class = "btn btn-primary" })
    </div>
</div>


<script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDS2vUZXxyTNyg4Kx_UlRimVwz0V_VLMaQ&callback=initMap">
</script>

